<p class="input-label">Name</p>
{{input placeholder="name"}}
<p class="input-label">Email</p>
{{input placeholder="email"}}
<p class="input-label">Event Title</p>
{{input placeholder="title"}}
<p class="input-label">Event Description</p>
{{input placeholder="description"}}
{{create-submit-button}}