<p class="poll-owner-name">Name: {{event.ownerName}}</p>
<p class="poll-owner-email">Email: {{event.ownerEmail}}</p>
<p class="poll-event-title">Title: {{event.title}}</p>
<p class="poll-event-description">Description: {{event.description}}</p>

<ul class="vote-list">
  {{#each sortedDates as |date|}}
    <li class="single-vote">
      {{date-icon month=date.startMonth
                  dayOfMonth=date.startDayOfMonth
                  dayOfWeek=date.startDayOfWeek}}
      {{vote-box click="toggleVoteBox"
                 voteBoxSwitch=voteBoxSwitch}}
    </li>
  {{/each}}
</ul>


{{#link-to 'poll' event.id}}
  share this link
{{/link-to}}
