<div class="start-time-container">
  {{#if time.start}}
    {{input class="start-time-input"
            value=time.start
            placeholder="start time"
            focus-in="startFocusIn"}}
  {{else}}
    {{input class="start-time-input"
            placeholder="start time"
            focus-in="startFocusIn"}}
  {{/if}}
  {{view "select"
          class="time-dropdown-menu"
          content=times
          isVisible=startMenuVisible
          value=selectedStartTime}}
</div>

<p class="start-to-end-label">to</p>

<div class="end-time-container">
  {{#if time.end}}
    {{input class="end-time-input"
            value=time.end
            placeholder="end time"
            focus-in="endFocusIn"}}
  {{else}}
    {{input class="end-time-input"
            placeholder="end time"
            focus-in="endFocusIn"}}
  {{/if}}
  {{view "select"
          class="time-dropdown-menu"
          content=times
          isVisible=endMenuVisible
          value=selectedEndTime}}
</div>

{{delete-iconw}}