<div class="start-time-container">
  {{input class="start-time-input"
          placeholder="start time"
          value=time.start
          focus-in="showStartTimeMenu"}}
  {{view "select"
          class="time-dropdown-menu"
          content=times
          isVisible=startMenuVisible
          value=selectedStartTime}}
</div>

<p class="start-to-end-label">to</p>

<div class="end-time-container">
  {{input class="end-time-input"
          value=time.end
          placeholder="end time"
          focus-in="showEndTimeMenu"}}
  {{view "select"
          class="time-dropdown-menu"
          content=times
          isVisible=endMenuVisible
          value=selectedEndTime}}
</div>

<div class="delete-time-button" {{action "deleteTime"}}>
  <i class="fa fa-times-circle"></i>
</div>