<p class="poll-owner-name">Name: {{event.ownerName}}</p>
<p class="poll-owner-email">Email: {{event.ownerEmail}}</p>
<p class="poll-event-title">Title: {{event.title}}</p>
<p class="poll-event-description">Description: {{event.description}}</p>

{{poll-table event=event
             user=user
             sortedDates=sortedDates
             saveVotes="saveUserVotes"
             createNewUser="createNewUser"}}